.cuerpo {
    background-image: url(../assets/img/chocoback.jpg);
    background-position: center;
    background-size: cover;
    height: 95%;
}

.titulodelivery {
    color: orangered;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: bisque;
    
}