.carta {
    background-color: rgba(245, 245, 220, 0.685);
}

.tarjeta__cuerpo {
    background-color: bisque;
}

.tarjetasss {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.tarjeta__unica {
    width: 30rem;
}
